body {
  background-color: #e0f1e7;
}

/* Custom styled checkboxes */
.styled-checkbox {
  appearance: none; /* Remove default checkbox styling */
  width: 20px;
  height: 20px;
  background-color: ;
  border-radius: 50%; /* Makes it round */
  cursor: pointer;
  border: 2px solid #555;
}

.styled-checkbox:checked {
  background-color: #4caf50;
  border: 2px solid #4caf50;
}

.styled-checkbox:checked::before {
  content: "";
  display: block;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}

textarea {
  width: 97.5%;
  min-height: 50px; /* Initial minimum height */
  max-height: 300px; /* Maximum height */
  resize: none; /* Disable manual resize, JavaScript will handle it */
  overflow-y: hidden; /* Hide scroll bar */
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}

.form {
  width: 80%;
  display: block;
  margin-left: 25%;
}

input[type="email"]:hover {
  border: 1.5px solid green;
}
input[type="text"]:hover {
  border: 1.5px solid green;
}
label {
  cursor: pointer;
}
input[type="email"] {
  cursor: pointer;
  transition: 0.1s all;
  padding: 0.4rem;
  width: 95.5%;
  border-radius: 5px;
  border: 1.5px solid gray;
}
input[type="text"] {
  cursor: pointer;
  transition: 0.1s all;
  width: 150%;
  border-radius: 5px;
  border: 1.5px solid gray;
  padding: 0.4rem;
}
.first-name {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.last-name {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.email {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.flex-box {
  display: flex;
  gap: 8rem;
}
label .required {
  color: green;
}
.query1 {
  display: flex;
  width: 44.5%;
  gap: 1rem;
  padding: 0.5rem;
  border: 2px solid gray;
  align-items: center;
  border-radius: 10px;
}
.query2 {
  padding: 0.5rem;
  width: 44.5%;
  border-radius: 10px;
  gap: 1rem;
  border: 2px solid gray;
  align-items: center;
  display: flex;
}
.queries {
  display: flex;
  gap: 1rem;
}
.flex-2 {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
button {
  border: none;
  padding: 1rem;
  color: white;
  width: 99%;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #0c7d69;
  border-radius: 10px;
}

input {
  cursor: pointer;
}

/* Media query section */
@media only screen and (max-width: 431px) {
  .form {
    display: block;
    margin-left: 8%;
  }
  form {
    width: 96%;
    height: 813px;
  }
  .flex-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  input[type="text"] {
    width: 95%;
  }
  .queries {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  span {
    width: 95%;
  }
  .query1,
  .query2 {
    width: 95%;
  }
}
